/[if lt IE 7 ]
  p.chromeframe
    | 지금 사용하고 계신 브라우저는  <strong>한참 철지난</strong> 브라우저입니다.
    | 우리 서비스를 제대로 이용하시려면 <a href="http://browsehappy.com/">브라우저를 업그레이드 하시거나</a> 혹은 당신의 인터넷 생활을<a href="http://www.google.com/chromeframe/?redirect=true">구글 크롬 프레임</a>으로 쾌적하게 만드세요!
